html, body {
    background-color: #1a1a1a;
    color: #ecf0f1;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

nav {
    z-index: 1;
}

.social-link {
    color: #ecf0f1;
}
.social-link:hover {
    color: #9ca0a1;
}